{
    "printWidth": 140,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "trailingComma": "es5"
}
