name: Run tests

on:
    pull_request:
        branches: [master]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Install NodeJS
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x

            - name: Install Yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn

            - name: Run unit tests
              run: yarn test
